:root {
  --spacing0: 0;
  --spacing1: 0.25rem;
  --spacing2: 0.5rem;
  --spacing3: 0.75rem;
  --spacing4: 1rem;
  --spacing5: 1.25rem;
  --spacing6: 1.5rem;
  --spacing7: 2rem;
  --spacing8: 3rem;
  --spacing9: 4rem;
  --spacing10: 5rem;

  --primary100: hsl(207, 73%, 90%);
  --primary200: hsl(207, 73%, 80%);
  --primary300: hsl(207, 73%, 70%);
  --primary400: hsl(207, 73%, 60%);
  --primary500: hsl(207, 73%, 50%);
  --primary600: hsl(207, 73%, 40%);
  --primary700: hsl(207, 73%, 30%);
  --primary800: hsl(207, 73%, 20%);
  --primary900: hsl(207, 73%, 10%);

  --secondary100: hsl(207, 73%, 90%);
  --secondary200: hsl(207, 73%, 80%);
  --secondary300: hsl(207, 73%, 70%);
  --secondary400: hsl(207, 73%, 60%);
  --secondary500: hsl(207, 73%, 50%);
  --secondary600: hsl(207, 73%, 40%);
  --secondary700: hsl(207, 73%, 30%);
  --secondary800: hsl(207, 73%, 20%);
  --secondary900: hsl(207, 73%, 10%);

  --contrast0: #fff;
  --contrast100: hsl(216, 15%, 90%);
  --contrast200: hsl(216, 15%, 80%);
  --contrast300: hsl(216, 15%, 70%);
  --contrast400: hsl(216, 15%, 60%);
  --contrast500: hsl(216, 15%, 50%);
  --contrast600: hsl(216, 15%, 40%);
  --contrast700: hsl(216, 15%, 30%);
  --contrast800: hsl(216, 15%, 20%);
  --contrast900: hsl(216, 15%, 10%);
  --contrast1000: #000;

  --success100: hsl(145, 46%, 90%);
  --success200: hsl(145, 46%, 80%);
  --success300: hsl(145, 46%, 70%);
  --success400: hsl(145, 46%, 60%);
  --success500: hsl(145, 46%, 50%);
  --success600: hsl(145, 46%, 40%);
  --success700: hsl(145, 46%, 30%);
  --success800: hsl(145, 46%, 20%);
  --success900: hsl(145, 46%, 10%);

  --warning100: hsl(47, 81%, 90%);
  --warning200: hsl(47, 81%, 80%);
  --warning300: hsl(47, 81%, 70%);
  --warning400: hsl(47, 81%, 60%);
  --warning500: hsl(47, 81%, 50%);
  --warning600: hsl(47, 81%, 40%);
  --warning700: hsl(47, 81%, 30%);
  --warning800: hsl(47, 81%, 20%);
  --warning900: hsl(47, 81%, 10%);

  --danger100: hsl(0, 76%, 90%);
  --danger200: hsl(0, 76%, 80%);
  --danger300: hsl(0, 76%, 70%);
  --danger400: hsl(0, 76%, 60%);
  --danger500: hsl(0, 76%, 50%);
  --danger600: hsl(0, 76%, 40%);
  --danger700: hsl(0, 76%, 30%);
  --danger800: hsl(0, 76%, 20%);
  --danger900: hsl(0, 76%, 10%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary100: hsl(207, 73%, 10%);
    --primary200: hsl(207, 73%, 20%);
    --primary300: hsl(207, 73%, 30%);
    --primary400: hsl(207, 73%, 40%);
    --primary500: hsl(207, 73%, 50%);
    --primary600: hsl(207, 73%, 60%);
    --primary700: hsl(207, 73%, 70%);
    --primary800: hsl(207, 73%, 80%);
    --primary900: hsl(207, 73%, 90%);

    --secondary100: hsl(207, 73%, 10%);
    --secondary200: hsl(207, 73%, 20%);
    --secondary300: hsl(207, 73%, 30%);
    --secondary400: hsl(207, 73%, 40%);
    --secondary500: hsl(207, 73%, 50%);
    --secondary600: hsl(207, 73%, 60%);
    --secondary700: hsl(207, 73%, 70%);
    --secondary800: hsl(207, 73%, 80%);
    --secondary900: hsl(207, 73%, 90%);

    --contrast0: #000;
    --contrast100: hsl(216, 15%, 10%);
    --contrast200: hsl(216, 15%, 20%);
    --contrast300: hsl(216, 15%, 30%);
    --contrast400: hsl(216, 15%, 40%);
    --contrast500: hsl(216, 15%, 50%);
    --contrast600: hsl(216, 15%, 60%);
    --contrast700: hsl(216, 15%, 70%);
    --contrast800: hsl(216, 15%, 80%);
    --contrast900: hsl(216, 15%, 90%);
    --contrast1000: #fff;

    --success100: hsl(145, 46%, 10%);
    --success200: hsl(145, 46%, 20%);
    --success300: hsl(145, 46%, 30%);
    --success400: hsl(145, 46%, 40%);
    --success500: hsl(145, 46%, 50%);
    --success600: hsl(145, 46%, 60%);
    --success700: hsl(145, 46%, 70%);
    --success800: hsl(145, 46%, 80%);
    --success900: hsl(145, 46%, 90%);

    --warning100: hsl(47, 81%, 10%);
    --warning200: hsl(47, 81%, 20%);
    --warning300: hsl(47, 81%, 30%);
    --warning400: hsl(47, 81%, 40%);
    --warning500: hsl(47, 81%, 50%);
    --warning600: hsl(47, 81%, 60%);
    --warning700: hsl(47, 81%, 70%);
    --warning800: hsl(47, 81%, 80%);
    --warning900: hsl(47, 81%, 90%);

    --danger100: hsl(0, 76%, 10%);
    --danger200: hsl(0, 76%, 20%);
    --danger300: hsl(0, 76%, 30%);
    --danger400: hsl(0, 76%, 40%);
    --danger500: hsl(0, 76%, 50%);
    --danger600: hsl(0, 76%, 60%);
    --danger700: hsl(0, 76%, 70%);
    --danger800: hsl(0, 76%, 80%);
    --danger900: hsl(0, 76%, 90%);
  }
}
